@model GYM_MANAGER_PROJECTFSOFT.ViewModel.ThongTinGiaoHang

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<style>
    .label-input{
        color: black !important;
    }
    .bottom-btn-group {
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }
</style>

<div class="container">
    <h2 class="mt-4">Check out now</h2>
    <p>Please enter your details!</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label label-input" })

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label label-input" })

        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label label-input" })

        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "control-label label-input" })

        <div class="checkbox">
            @Html.EnumDropDownListFor(model => model.PaymentMethod)
            @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiftWrap, htmlAttributes: new { @class = "control-label label-input" })

        <div class="checkbox">
            @Html.EditorFor(model => model.GiftWrap)
            @Html.ValidationMessageFor(model => model.GiftWrap, "", new { @class = "text-danger" })
        </div>

    </div>


    <div class="bottom-btn-group">
        @Html.ActionLink("Back To Cart", "Index", null, new { @class = "primary-btn" })
        <button type="submit" class="primary-btn">Complete</button>
    </div>
</div>
}
</div>
